# Keep in sync with .npmignore.
*~
.tmp
.DS_Store
npm-debug.log
package-lock.json
/node_modules/*
/tmp/*
/build/*
/dist/*
/docs/*
/test/test_suite.js*
.idea
/pano-viewer/dist_app_v2/
/pano-viewer/dist_app/
*.exe
*.dll
*.pak
*.bin
node_modules/
*.asar
